@import 'src/scss/variables';
@import 'src/scss/mixins';

:host {
  background-color: map-get(map-get($ui-colors, white), base);
  color: rgba(255, 255, 255, 0.87);
  display: flex;

  > mat-toolbar {
    background-color: map-get(map-get($ui-colors, white), base);
    height: 60px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    z-index: 999;


    .logo-wrapper {
      width: 233px;
      height: 100%;
      display: block;
    }

    .logo {
      margin-right: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;

      #icon {
        width: auto;
        height: 42px;

        .cls-1 {
          fill: #bd007b;
          -webkit-transition: all 0.27s cubic-bezier(0.17, 0.67, 0.83, 0.67);
          transition: all 0.27s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        }
      }

      #logo {
        width: auto;
        height: 20px;
        margin-left: 10px;

        .cls-2 {
          fill: #bd007b;
          -webkit-transition: all 0.27s cubic-bezier(0.17, 0.67, 0.83, 0.67);
          transition: all 0.27s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        }
      }

      h1 {
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 0.1px;
        line-height: 42px;
        margin-left: 16px;
      }
    }

    .customer-logo {
      height: 60px;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      > svg {
        transition: fill 0.3s ease;
        width: auto;
        height: 25px;
        fill: rgba(255, 255, 255, 0.8);

        &:hover {
          fill: rgba(255, 255, 255, 1);
        }
      }
    }

    .lang-switcher,
    .user-menu-default {
      display: flex;
      @include respond-to(medium-screens) {
        display: none;
      }

      .user-menu-item {
        color: rgba(0, 0, 0, 0.87);
        background: rgba(0, 0, 0, 0);
        display: flex;
        text-decoration: none;
        outline: none;
        box-shadow: none;
        justify-content: center;

        .mat-icon {
          margin: 0 5px 0 0;
        }

        span {
          font: 400 16px/32px Roboto, "Helvetica Neue", sans-serif;
        }
      }
    }

    .user-menu-small {
      display: none;
      @include respond-to(medium-screens) {
        display: flex;
      }

    }

  }
}
