@import 'src/scss/mixins';
@import 'src/scss/variables';
@import 'src/scss/mixins';

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
}

h1,
.h1 {
  font-size: $h1;
}

h2,
.h2 {
  font-size: $h2;
}

h3,
.h3 {
  font-size: $h3;
  font-weight: $font--medium;
  letter-spacing: 0.005em;
}

h4,
.h4 {
  font-size: $h4;
}

h5,
.h5 {
  font-size: $h5;
}

h6,
.h6 {
  font-size: $h6;
}

h3, h4, h5, p {
  margin: 0 0 16px;
}

h4 {
  font-size: rem(1.8);
  font-weight: $font--medium;
  color: c(grey);
}

.fslg {
  font-size: large;
}

.fsu {
  font-size: $unit;
}

.fssm {
  font-size: 13px;
}

.fwb {
  font-weight: $font--black;
}

.pc {
  color: $primary;
}

.label-color {
  color: #626b71;
  -webkit-text-fill-color: #626b71;
  -webkit-opacity: 1;
}

.text-color {
  color: #1d1d1d !important;
}

.blg {
  border: 1px lightgrey solid;
}

.header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .row {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    height: 50px;
    background: #fcfcfc;
    border-top: 1px solid #ddd;
  }
}

.title-flex {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;

  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    @include respond-to('tablet-wide', max) {
      width: 100%;
    }
  }

  .close-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.title-flex-status {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ececec;
  width: 100%;

  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 16px !important;
    font-size: 20px;
    padding: 16px !important;
    font-weight: 800 !important;

    >h3 {
      font-weight: 800 !important;
    }

    @include respond-to('tablet-wide', max) {
      width: 100%;
    }
  }

  .close-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.error {
  padding: 10px;
  width: 100%;
  color: #aa0000;
  border-top: 1px solid #ddd;
  font-size: 14px;
}

p {
  line-height: 1.5;
}

/**
 * Links
 */
a {
  text-decoration: none;

  &:not(.mat-button):not(.mat-raised-button):not(.mat-icon-button) {
    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

/**
 * Code snippets
 */
pre {
  @include push($space--sm $space--lg);

  line-height: 1.6;
  white-space: pre-wrap;
}

code {
  font-family: $font--console;

  &:not(.highlight) {
    @include soft--right(rem(0.2) rem(0.3));

    background: rgba(0, 0, 0, 0.065);
    border-radius: rem(0.2);
  }
}
